body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #011e29;
    color: white;
    padding: 20px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    padding: 40px;
}
.latest-news-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.latest-news-section ul {
    padding-left: 20px;
}

.latest-news-section a {
    text-decoration: none;
    color: black;
}
.main-article {
    background: white;
    padding: 30px;
    border-radius: 10px;
}      
.pictorial-news-section {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.pictorial-news-section img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}
